<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link type="text/css" href="frontend/static/css/navigation.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
      {% if user.is_authenticated %}
        <title>SuperSimpleTweetBot - Home</title>
      {% else %}
        <title>SuperSimpleTweetBot - Login</title>
      {% endif %}
    {% endblock %}
  </head>
  <body>
    {% if user.is_authenticated %}
      {% include "frontend/navigation.html" %}
    {% endif %}
    <div class="container-fluid">
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
